---
layout: sugarcrm
description: "Yathit CRMinInbox is a sales email platform that integrates SugarCrm with Gmail."
introduction: "Better deail than Yathit CRMinInbox is a sales email platform that integrates SugarCrm with Gmail."
title: "Yathit CRMinInbox - SugarCRM for Gmail"
id: multi-device-layouts
collection: home
class: spotlight
our_views:
  good:
    - Create or modified SugarCRM records.
    - Search SugarCRM records.
    - Use SugarCRM email templates inside Gmail compose panel.
    - Synchronize Google Gmail contacts with SugarCRM records.
    - Save gmail and its attachment to SugarCRM.
    - Two business days email support.
other_case_studies:
  - title: Social plugin (2$/mo)
    description: Fill in publicly available personal information from social networks to your contact within seconds.
    link: /spotlights/example-showcase/
notes:
  -
    question: What types of payment do you accept?
    answer: All major debit and credit cards are accepted (through PayPal) as well as payments through PayPal. We can also accept payments by bank transfer, cheque or Purchase Order. For information on these options, please <a href="mailto:sale@yathit.com">get in touch</a>.
  -
    question: Can I cancel my subscription?
    answer: You can cancel your subscription anytime. Support will end when the paid subscription period expired.
  -
    question: How quickly will I get a reply?
    answer: Within 2 working days - although it is normally a lot quicker!
  -
    question: Can I get free trial for plugin?
    answer: Yes, free trial for plugin is included.
  -
    question: Any other question?
    answer: Contact <a href="mailto:sale@yathit.com">sale@yathit.com</a>.
---
<div class="pricing">

<div class="our-view">
  <div class="container-medium clear">
    <div class="g--half">
      <h2 class="huge our-view__title">5 USD</h2>
      <h2 class="close-up">/user/month</h2>
      <div class="centered">
        <p>
          <a id="download" href="#" class="button--primary themed">Free Trial</a>
        </p>
      </div>
    </div>
    <div class="our-view__content g--half g--last">
      {% if page.our_views.good %}
      <div class="our-view__list-wrapper">
        <h3 class="our-view__subtitle">Includes all features:</h3>
        <ul>
          {% for opinion in page.our_views.good %}
          <li>{{opinion}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    </div>
  </div>
</div>

  <div class="container">
    <div class="centered message">
      <p>Plugins are purchased later after installation.</p>
    </div>
  </div>

  <div class="container">
    <div class="related-items-group">

      <div class="related-items related-items--showcases related-items--minimal clear">
        <h3 class="related-items__title g-wide--1 g-medium--full">Plugin</h3>
        <div class="related-items__section clear">

          <ul class="related-items-list list-reset">
            {% for casestudy in page.other_case_studies %}
            <li class="g-medium--1 {% cycle '','','g-medium--last g-wide--last' %}">

              <p class="medium">
                <a href="{{casestudy.link}}">
                  {{casestudy.title}}
                </a>
              </p>
              {{casestudy.description}}

            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


{% include modules/remember_qa.liquid title="Notes" list=page.notes %}